meeting_number,meeting_date,tyling,venue,notes
0344,15th January 2025,6:30 PM,Grand Temple,Regular Meeting
0345,19th February 2025,6:30 PM,Grand Temple,Installation of Officers
0346,19th March 2025,6:30 PM,Grand Temple,Regular Meeting
0347,16th April 2025,6:30 PM,Grand Temple,Regular Meeting
0348,21st May 2025,6:30 PM,Grand Temple,Annual General Meeting
0349,18th June 2025,6:30 PM,Grand Temple,Regular Meeting
